.main-wraper{
    margin: 10px 35%;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5%;
    padding: 10px;
}

.game-wraper{
    max-width: auto;
    display: flex;
    flex-direction: row;
    grid-template-columns: 8rem 8rem 8rem;
    grid-template-rows: 8rem 8rem 8rem;
    align-self: center;
    align-items: baseline;
    justify-content: center;
    overflow: hidden;
    height: 40vh;
}

.flower1{
    top: -5vh;
    position: relative;
    animation: fall 8s infinite;
    z-index: 3;
    /* animation-delay: 0.3s; */
}

.flower2{
    top: -5vh;
    position: relative;
    animation: fall 17s infinite;
    z-index: 2;
    scale: 1.2;
}

.flower3{
    top: -5vh;
    position: relative;
    animation: fall 23s infinite;
    scale: 1.5;
    z-index: 1;
    /* animation-delay: 0.1s; */
}

.flower4{
    top: -5vh;
    position: relative;
    animation: fall 10s infinite;
    scale: 1.1;
    z-index: 1;
    /* animation-delay: 0.2s; */
}

.flower5{
    top: -5vh;
    position: relative;
    animation: fall 12s infinite;
    scale: 1.2;
    z-index: 1;
}

.flower6{
    top: -5vh;
    position: relative;
    animation: fall 28s infinite;
    z-index: 1;
}

.flower7{
    top: -5vh;
    position: relative;
    animation: fall 15s infinite;
    scale: 1.5;
    z-index: 1;
    animation-delay: 0.2s;
}

.flower8{
    top: -5vh;
    position: relative;
    animation: fall 10s infinite;
    z-index: 1;
    /* animation-delay: 0.3s; */
}

.flower9{
    top: -5vh;
    position: relative;
    animation: fall 20s infinite;
    scale: 1.5;
    z-index: 1;
}

@keyframes fall {
    0%{
        transform: translateY(-5vh)
                    rotate(0deg);
    }
    100%{
        transform: translateY(45vh)
                    rotate(360deg);
    }
    
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (max-width:1024px) {
    .main-wraper{
        margin: 20px 50px;
    }
}