.maincontent-wraper{
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    width: 280px;
}

.maincontent-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.maincontent-title h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 42px;
    font-weight: 900;
    line-height: 103%;
    text-transform: uppercase;

    margin: 0;

    text-shadow: 0px 0px 14.0448px #FFFFFF, 0px 0px 4.01281px #FFFFFF, 0px 0px 2.0064px #FFFFFF;
}

.maincontent-description{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #111111;
    gap: 5px;
}

.disc-text{
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    text-align: center;
}

.added-disc{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 19px;
    font-weight: 900;

    text-shadow: 0px 0px 14.0448px #FFFFFF;
}

.maincontent-disclaymer{
    margin: 14px 0;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 0.3px 1px;
    box-shadow: 0px 0px 14.0448px #FFFFFF, 0px 0px 4.01281px #FFFFFF, 0px 0px 2.0064px #FFFFFF;
}

.maincontent-disclaymer p{
    color: #F98DBF;
    font-weight: 900;
    font-size: 12px;
    line-height: 12.5px;
}

/* @media screen and (max-width:1024px){
    .maincontent-description p{
        font-size: 12px;
    }
} */